@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

strong {
  font-weight: bold !important;
}

em {
  font-style: italic !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .slide-left {
    animation: slideLeft 0.3s ease-in-out;
  }
  
  .slide-right {
    animation: slideRight 0.3s ease-in-out;
  }
  
  @keyframes slideLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  
  @keyframes slideRight {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 2px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
  }
}